.container {
    width: 80%;
    border-radius: 4px;
    padding: 20px;
    margin-top: 10%;
    display: flex; /* Ativa o layout flex */
    gap: 20px; /* Define o espaço entre as colunas */
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
}

p {
    font-size: 1.2pc;
    padding: 7px;
    color: gray;
}

.coluna {
    flex: 1; /* Faz com que cada coluna ocupe o mesmo espaço */
    padding: 10px; /* Adiciona espaço interno em cada coluna */
}

span {
    text-decoration: underline;
    font-weight: bold;
}

/* Estilo base para todos os botões */
.botao {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
    color: #003366;
    border: 2px solid #003366;
    width: 200px; /* Define uma largura fixa para todos os botões */
    margin-left: 225px;
}

.botao:hover {
    background-color: #003366;
    color: white;
}

.link-alterar{
    font-size: 1.2pc;
    padding: 7px;
    color: rgb(94, 94, 94);
}

.voltar {
    color: #7799; /* Cor padrão */
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    text-decoration: none; /* Remove o sublinhado, se desejado */
}

.voltar:hover {
    color: #003366; /* Cor ao passar o mouse */
    text-decoration: underline; /* Sublinha o texto no hover */
}
