body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
  }
  
  div {
    padding: 10px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .radio-border{
        border: 2px solid #000; /* Cor e espessura da borda */
        padding: 10px; /* Espaçamento interno */
        width: 100%; /* Largura da área */
        border-radius: 8px; /* Borda arredondada (opcional) */
        background-color: #f9f9f9; /* Cor de fundo (opcional) */
        margin-bottom: 10px;
    }

  
  .new-address {
    color: #888;
    font-size: 1.2pc; /* Define o tamanho da fonte como 1.2 picas, o que equivale aproximadamente a 16 pixels */
    cursor: pointer; /* Altera o cursor para o ícone de mão, indicando que o elemento é clicável */
    margin-top: 10px; /* Adiciona um espaço de 10 pixels acima do elemento */
    display: inline-block; /* Define o elemento como inline-block, permitindo definir largura e altura enquanto mantém o elemento na linha */
  }
  
