<main>
    <body>
        <div class="container">
            <h1>Método de pagamento</h1>
            <div class="new-address">+ Adicionar cartão de crédito</div>  
            <div>
                <input type="radio" name="group" value="value1"> Pix
            </div>
            <div>
                <input type="radio" name="group" value="value1"> Boleto
            </div>
            <div><button class="use-address-button">Usar essa forma de pagamento</button></div>
        </div>
    </body>
<main>