<main>
    <body>
        <div class="container">
            <h1>Seus Pedidos</h1>
            <div class="barra-pesquisa-filtro">
                <input type="text" placeholder="Pesquisa" />
                <button class="filtro">Filtro</button>
                <span>Mostrando 1-50 de 500</span>
            </div>            
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Estoque</th>
                        <th>Preço</th>
                        <th>Data de Registro</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Produto1</td>
                        <td>Categoria 1</td>
                        <td>1000</td>
                        <td>R$0,00</td>
                        <td align="left">Jan 11, 2050</td>
                        <td>Visualização</td>
                    </tr>
                    <tr>
                        <td>Produto2</td>
                        <td>Categoria 2</td>
                        <td>600</td>
                        <td>R$0,00</td>
                        <td align="left">Jan 11, 2050</td>
                        <td>Visualização</td>
                    </tr>
                    <tr>
                        <td>Produto3</td>
                        <td>Categoria 1</td>
                        <td>2000</td>
                        <td>R$0,00</td>
                        <td align="left">Jan 11, 2050</td>
                        <td>Visualização</td>
                    </tr>
                    <tr>
                        <td>Produto4</td>
                        <td>Categoria 2</td>
                        <td>1400</td>
                        <td>R$0,00</td>
                        <td align="left">Jan 11, 2050</td>
                        <td>Visualização</td>
                    </tr>
                    <tr>
                        <td>Produto5</td>
                        <td>Categoria 3</td>
                        <td>900</td>
                        <td>R$0,00</td>
                        <td align="left">Jan 11, 2050</td>
                        <td>Visualização</td>
                    </tr>
                    <tr>
                        <td>Produto6</td>
                        <td>Categoria 2</td>
                        <td>2700</td>
                        <td>R$0,00</td>
                        <td align="left">Jan 11, 2050</td>
                        <td>Visualização</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button>&lt; Ant</button>
                <button class="active">1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>Prox &gt;</button>
            </div>
        </div>
    </body>
</main>