<div class="container" id="nav-container">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a href="/" class="navbar-brand">
            <img id="logo" src="https://i.ibb.co/zf4CKRd/logo.png" alt="Warejeira">
        </a>
        <div class="collapse navbar-collapse">
            <form class="d-flex me-2" role="search">
                <input class="form-control" type="text" placeholder="Pesquisar Produto" aria-label="Search" 
                (imput)="search($event)">
            </form>
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filtro
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <div id="navbar-links" class="d-flex">
                <a class="nav-item nav-link" routerLink="/shopping-cart" id="carrinho">Carrinho</a>
                <a *ngIf="!isAuthenticated" class="nav-item nav-link" routerLink="/login" id="perfil">Login</a>
                <a *ngIf="isAuthenticated" class=" nav-item nav-link" routerLink="/your-profile">Seu perfil</a>
            </div>            
        </div>
    </nav>
</div>
