<form class="w-100" (ngSubmit)="submit()" [formGroup]="userForm" #formDir="ngForm">
    <h1 class="mb-3 fw-bold">Cadastro de uma nova conta</h1>

    <!-- Nome e CPF -->
    <div class="d-flex justify-content-between mb-3">
        <div class="form-floating w-50 pe-2">
            <input type="text" class="form-control" id="floatingNome" placeholder="seunome" formControlName="name">
            <label for="floatingNome">Nome</label>
            <!-- Mensagem de erro abaixo do campo Nome -->
            <div class="validation-error" *ngIf="userForm.controls['name'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
        <div class="form-floating w-50 ps-2">
            <input type="text" class="form-control" id="floatingCpf" placeholder="seucpf" formControlName="cpf">
            <label for="floatingCpf">CPF</label>
            <!-- Mensagem de erro abaixo do campo CPF -->
            <div class="validation-error" *ngIf="userForm.controls['cpf'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
    </div>


    <!-- E-mail e Telefone -->
    <div class="d-flex justify-content-between mb-3">
        <div class="form-floating w-50 pe-2">
            <input type="email" class="form-control" id="floatingEmail" placeholder="seu-email@gmail.com" formControlName="email">
            <label for="floatingEmail">E-mail</label>
            <!-- Mensagem de erro abaixo do campo Nome -->
            <div class="validation-error" *ngIf="userForm.controls['email'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
        <div class="form-floating w-25 ps-2">
            <input type="text" class="form-control" id="floatingTelefone" placeholder="(11)11111-1111" formControlName="phone_number">
            <label for="floatingTelefone">Telefone</label>
            <!-- Mensagem de erro abaixo do campo Nome -->
            <div class="validation-error" *ngIf="userForm.controls['phone_number'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
        <div class="form-floating w-25 ps-2">
            <input type="date" class="form-control" id="floatingDate" placeholder="01/01/2001" formControlName="birth_date">
            <label for="floatingDate">Data de nascimento</label>
            <!-- Mensagem de erro abaixo do campo Nome -->
            <div class="validation-error" *ngIf="userForm.controls['birth_date'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
    </div>

    <!-- Rua, Número e CEP -->
    <div class="d-flex justify-content-between mb-3">
        <div class="form-floating w-75 pe-2">
            <input type="text" class="form-control" id="floatingRua" placeholder="suarua" formControlName="address">
            <label for="floatingRua">Rua</label>
            <!-- Mensagem de erro abaixo do campo CPF -->
            <div class="validation-error" *ngIf="userForm.controls['address'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
        <div class="form-floating w-25 ps-2 pe-2">
            <input type="text" class="form-control" id="floatingNumero" placeholder="numero" formControlName="home_number">
            <label for="floatingNumero">Número</label>
            <!-- Mensagem de erro abaixo do campo CPF -->
            <div class="validation-error" *ngIf="userForm.controls['home_number'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
    </div>

    <!-- Complemento -->
    <div class="d-flex justify-content-between mb-3">
        <div class="form-floating w-100 pe-2">
            <input type="text" class="form-control" id="floatingComplemento" placeholder="complemento" formControlName="complement">
            <label for="floatingComplemento">Complemento</label>
            <!-- Mensagem de erro abaixo do campo CPF -->
            <div class="validation-error" *ngIf="userForm.controls['complement'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
    </div>

    <!-- cep e bairro -->
    <div class="d-flex justify-content-between mb-3">
        <div class="form-floating w-75 pe-2">
            <input type="text" class="form-control" id="floatingBairro" placeholder="seubairro" formControlName="district">
            <label for="floatingBairro">Bairro</label>
            <!-- Mensagem de erro abaixo do campo CPF -->
            <div class="validation-error" *ngIf="userForm.controls['district'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
        <div class="form-floating w-25 ps-2">
            <input type="text" class="form-control" id="floatingCep" placeholder="11111-111" formControlName="cep">
            <label for="floatingCep">CEP</label>
            <!-- Mensagem de erro abaixo do campo CPF -->
            <div class="validation-error" *ngIf="userForm.controls['cep'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
    </div>

    <!-- Cidade e Estado -->
    <div class="d-flex mb-3">
        <div class="form-floating w-75 pe-2">
            <input type="text" class="form-control" id="floatingCidade" placeholder="text" formControlName="city">
            <label for="floatingCidade">Cidade</label>
            <!-- Mensagem de erro abaixo do campo Nome -->
            <div class="validation-error" *ngIf="userForm.controls['city'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
        <div class="form-floating w-25 ps-2">
            <input type="text" class="form-control" id="floatingEstado" placeholder="text" formControlName="uf">
            <label for="floatingEstado">Estado</label>
            <!-- Mensagem de erro abaixo do campo Nome -->
            <div class="validation-error" *ngIf="userForm.controls['uf'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
    </div>

    <!-- Senha e Confirmar Senha -->
    <div class="d-flex mb-3">
        <div class="form-floating w-40 pe-2">
            <input type="password" class="form-control" id="floatingSenha" placeholder="password" formControlName="password">
            <label for="floatingSenha">Senha</label>
            <!-- Mensagem de erro abaixo do campo Nome -->
            <div class="validation-error" *ngIf="userForm.controls['password'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
        <div class="form-floating w-40 pe-2">
            <input type="password" class="form-control" id="floatingConfirmarSenha" placeholder="passwordconfirmation" formControlName="password_confirmation">
            <label for="floatingConfirmarSenha">Confirmar senha</label>
            <!-- Mensagem de erro abaixo do campo Nome -->
            <div class="validation-error" *ngIf="userForm.controls['password_confirmation'].invalid && formDir.submitted">
                <p>Este campo é obrigatório!</p>
            </div>
        </div>
    </div>
    
    <!-- Botão -->
    <!-- <button class="btn custom-btn w-100 py-2" type="submit"></button> -->
     <input type="submit" value="{{ btnText }}" class="btn custom-btn w-100 py-2">
</form>    

