body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}


h1 {
  margin-bottom: 20px;
}

.address-field input{
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.new-address {
  color: #888;
  font-size: 1.2pc;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}
