#form{
    max-width: 500px;
    padding: 1rem;
    background-color: rgb(245, 245, 245);
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.185);
}

#main{
    height: 100%;
    margin-top: 10%;
    justify-content: center;
    display: flex;
}

h1{
    color: #003366;
    text-align: center;
}

a {
    text-decoration: underline;
}

p {
    text-align: center;
    color: #7799;
    padding-top: 20px;
}

h4 {
    text-align: center;
}

.register-link {
    color: #7799;
    font-weight: bold;
    font-size: 18px;
  }
  
  .register-link:hover {
    text-align: center;
  }
