.form-container{
    max-width: 500px;
    padding: 1rem;
}

main{
    height: 100%;
}

h1{
    color: #003366;
    text-align: center;
}

a {
    text-decoration: underline;
}

p {
    text-align: center;
    color: #7799;
    padding-top: 20px;
}

h4 {
    text-align: center;
}

.register-link {
    color: #7799;
    font-weight: bold;
    font-size: 18px;
  }
  
  .register-link:hover {
    text-align: center;
  }
