.message {
    position: fixed;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    border-left: 6px solid #003366;
    padding: 1.5em;
    z-index: 9999;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: fadeInDown 0.1s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8em;
}

.message-header h2 {
    font-size: 1.4em;
    color: #003366;
    margin: 0;
}

.clear-button {
    background: none;
    border: none;
    padding: 0,5%;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-button:hover {
    background-color: #f0f0f0;
}

.message-text {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.5;
}

/* Animação de entrada */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}
