main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.container {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 150px;
}

.produto {
    display: flex;
    align-items: flex-start; /* Alinha os itens ao topo */
    justify-content: space-between;
    background-color: #e0e0ea;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    gap: 20px; /* Espaçamento consistente entre os blocos */
}

.info {
    flex: 1; /* A descrição ocupa o espaço disponível */
}

textarea {
    background-color: #e0e0ea;
    color: gray;
    width: 100%; /* Garante que a textarea ocupa todo o espaço disponível */
    resize: none; /* Evita redimensionamento */
}

.imagem {
    width: 80px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Exibe toda a imagem sem cortar */
}

.info h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: gray;
}

.visualizar-produto {
    background-color: #e0e0ea;
    color: gray;
}


.preco h3 {
    margin: 0;
    font-size: 16px;
}

.acoes {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.preco{
    margin-left: 10px;
    margin-bottom: 20%;
    text-align: center; /* Centraliza o texto no espaço reservado */
    visibility: hidden; /* Torna o conteúdo invisível, mas mantém o espaço ocupado */
}

.acoes .visualizar-produto,
.acoes button {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #e0e0ea;
    cursor: pointer;
}

.acoes button.confirmar-entrega {
    background-color: #005eff;
    color: white;
    border: none;
    margin-top: 100%;
}

.acoes button:hover {
    background-color: white;
}

.acoes button.fechar-pedido:hover {
    background-color: #004ecc;
}