<main>
    <div class="container">
        <div class="produto">
            <div class="imagem">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
            </div>
            <div class="info">
                <h3>Nome: </h3>
                <label for="descricao-produto"></label>
                <textarea id="descricao-produto" name="descricao-produto" rows="4" cols="50">Descrição do produto</textarea>
                <div class="acoes">
                    <button class="visualizar-produto">Visualizar produto</button>
                </div>
            </div>
            <div class="preco">
                <h3>Preço:</h3>
            </div>
            <div class="acoes">
                <button class="confirmar-entrega">Confirmar entrega</button>
            </div>
        </div>

        <div class="produto">
            <div class="imagem">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
            </div>
            <div class="info">
                <h3>Nome: </h3>
                <label for="descricao-produto"></label>
                <textarea id="descricao-produto" name="descricao-produto" rows="4" cols="50">Descrição do produto</textarea>
                <div class="acoes">
                    <button class="visualizar-produto">Visualizar produto</button>
                </div>
            </div>
            <div class="preco">
                <h3>Preço:</h3>
            </div>
            <div class="acoes">
                <button class="confirmar-entrega">Confirmar entrega</button>
            </div>
        </div>

        <div class="produto">
            <div class="imagem">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
            </div>
            <div class="info">
                <h3>Nome: </h3>
                <label for="descricao-produto"></label>
                <textarea id="descricao-produto" name="descricao-produto" rows="4" cols="50">Descrição do produto</textarea>
                <div class="acoes">
                    <button class="visualizar-produto">Visualizar produto</button>
                </div>
            </div>
            <div class="preco">
                <h3>Preço:</h3>
            </div>
            <div class="acoes">
                <button class="confirmar-entrega">Confirmar entrega</button>
            </div>
        </div>
    </div>
</main>