<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="cart">
        <div class="cart-header">
                <div class="image">
                    <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="...">
                 </div>
                 <div class="desc">
                    <h3>Nome</h3>
                     <div class="cont">
                         <label for="num-cont">Quantidade</label>
                         <div class="input-group">
                             <i class="bx bx-minus"></i>
                             <input type="text" class="num-cont" id="num-cont">
                            <i class="bx bx-plus"></i>
                         </div>
                     </div>
                    <button type="button">Excluir</button>
                </div>
                <div class="price">
                     <h4>Preço:</h4>
                    <button class="btn custom-btn py-2">Fechar pedido</button>
                </div>
        </div>
    </div>
</main>