.custom-file-link {
    cursor: pointer; /* Faz parecer clicável */
    color: #5c5c5c; /* Cor típica de links */
    font-size: 1rem;
    text-decoration: none; /* Remove a sublinha padrão do link */
}

.custom-file-link:hover {
    text-decoration: underline; /* Adiciona sublinha ao passar o mouse */
    color: #0056b3; /* Escurece a cor no hover */
}

.image-upload img {
    width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
    max-height: 150px; /* Limita a altura da imagem */
    object-fit: contain; /* Garante que a imagem seja redimensionada sem distorção */
}

textarea.form-control {
    height: 150px; /* Você pode ajustar conforme a necessidade */
}

.text-decoration-underline {
    cursor: pointer;
    color: #007bff;
}

.img-fluid {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}
