<main>
    <body>
        <div class="container">
            <h1>Seus Pedidos</h1>
            <button class="export-button">Exportar</button>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Endereço</th>
                        <td align="right"><span>Data da entrega</span></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Produto1</td>
                        <td>2</td>
                        <td>R$0,00</td>
                        <td>Endereço1</td>
                        <td align="right">Jan 11, 2050</td>
                    </tr>
                    <tr>
                        <td>Produto2</td>
                        <td>1</td>
                        <td>R$0,00</td>
                        <td>Endereço2</td>
                        <td align="right">Jan 11, 2050</td>
                    </tr>
                    <tr>
                        <td>Produto3</td>
                        <td>4</td>
                        <td>R$0,00</td>
                        <td>Endereço3</td>
                        <td align="right">Jan 11, 2050</td>
                    </tr>
                    <tr>
                        <td>Produto4</td>
                        <td>2</td>
                        <td>R$0,00</td>
                        <td>Endereço4</td>
                        <td align="right">Jan 11, 2050</td>
                    </tr>
                    <tr>
                        <td>Produto5</td>
                        <td>2</td>
                        <td>R$0,00</td>
                        <td>Endereço5</td>
                        <td align="right">Jan 11, 2050</td>
                    </tr>
                    <tr>
                        <td>Produto6</td>
                        <td>1</td>
                        <td>R$0,00</td>
                        <td>Endereço6</td>
                        <td align="right">Jan 11, 2050</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button>&lt; Ant</button>
                <button class="active">1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>Prox &gt;</button>
            </div>
        </div>
    </body>
</main>