<main class="d-flex flex-column justify-content-center align-items-center vh-100">  
    <div class="categorias" id="nav-categorias">
        <h1 class="titulo">Produtos em destaque</h1>

        <div class="linha">
            <div class="col-1">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
                <h4>nome do produto</h4>
                <p>R$0,00</p>
            </div>

            <div class="col-1">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
                <h4>nome do produto</h4>
                <p>R$0,00</p>
            </div>

            <div class="col-1">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
                <h4>nome do produto</h4>
                <p>R$0,00</p>
            </div>

            <div class="col-1">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
                <h4>nome do produto</h4>
                <p>R$0,00</p>
            </div>
        </div>

        <div class="linha">
            <div class="col-1">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
                <h4>nome do produto</h4>
                <p>R$0,00</p>
            </div>

            <div class="col-1">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
                <h4>nome do produto</h4>
                <p>R$0,00</p>
            </div>

            <div class="col-1">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
                <h4>nome do produto</h4>
                <p>R$0,00</p>
            </div>

            <div class="col-1">
                <img src="https://st.depositphotos.com/3538103/5151/i/450/depositphotos_51514387-stock-photo-photograph-icon.jpg" alt="">
                <h4>nome do produto</h4>
                <p>R$0,00</p>
            </div>
        </div>
        
    </div>
</main>