<main id="main">
    <div class="categorias" id="nav-categorias">

        <div *ngIf="products.length > 0; else noProducts">

            <h1 class="titulo">Produtos em destaque</h1>

            <div class="linha">
                <div class="col-1" *ngFor="let product of products">
                    <img src="{{ product.image_url }}" alt="{{ product.name}}">
                    <h4>{{ product.name }}</h4>
                    <p>R${{ product.price }}</p>
                    <a class="link-produto" routerLink="/products/{{ product.id }}">visualizar</a>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noProducts>
        <h1 id="h1-np">Não há produtos cadastrados!</h1>
    </ng-template>
</main>