.custom-btn {
    border: 2px solid #007bff; /* Cor da borda */
    background-color: transparent; /* Fundo transparente */
    color: black; /* Cor do texto */
    font-weight: bold; /* Negrito */
    font-size: large;  /* Tamanho da fonte*/
    padding: 0.5rem 1rem; /* Espaçamento interno */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição */
    width: 300px; /* Defina a largura desejada */
    height: 50px; /* Defina a altura desejada */
    display: flex; /* Use flexbox para alinhar o conteúdo */
    align-items: center; /* Centralize verticalmente */
    justify-content: center; /* Centralize horizontalmente */
}

.custom-btn:hover {
    background-color: #007bff; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

.link-delete {
    background-color: #ff4d4d; /* Cor de fundo vermelha para indicar exclusão */
    color: white;
    border: none;
    font-weight: bold;
}

.link-delete:hover {
    background-color: #e60000; /* Cor mais escura ao passar o mouse */
    color: white;
}

.logout {
    border: 2px solid #dc3545; /* Cor da borda (vermelho) */
    background-color: #dc3545; /* Cor de fundo (vermelho) */
    color: white; /* Cor do texto */
    font-weight: bold; /* Negrito */
    font-size: large;  /* Tamanho da fonte */
    padding: 0.5rem 1rem; /* Espaçamento interno */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição */
    width: 300px; /* Largura */
    height: 50px; /* Altura */
    display: flex; /* Flexbox para alinhar o conteúdo */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
}

/* Efeito de hover */
.logout:hover {
    background-color: #c82333; /* Cor de fundo mais escura ao passar o mouse */
    border-color: #bd2130; /* Cor da borda mais escura ao passar o mouse */
    color: white; /* Garante que o texto continue branco */
}
