<main class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div>
      <h1 class="mb-4 fw-bold">Seu perfil</h1>
    </div>
    <div>
      <a class="btn custom-btn mb-2" href="#" role="button">
          <img src="https://e7.pngegg.com/pngimages/457/354/png-clipart-plastic-bag-shopping-bags-trolleys-computer-icons-grocery-rectangle-accessories.png" alt="Ícone" class="me-2" style="width: 40px; height: 40px;">
          Seus pedidos
      </a>
    </div>
    <div>
      <button class="btn custom-btn mb-2" (click)="goToCompany()">
        <img src="https://cdn-icons-png.flaticon.com/512/66/66754.png" alt="Ícone" class="me-2" style="width: 40px; height: 40px;">
        Sua empresa
      </button>
    </div>
    <div>
      <a routerLink="/profile-data/{{ userId }}" class="btn custom-btn mb-2" role="button">
        <img src="https://cdn-icons-png.flaticon.com/512/3106/3106921.png" alt="Ícone" class="me-2" style="width: 40px; height: 40px;">
        Sua conta
      </a>
    </div>

    <!-- Botão de logout -->
    <button (click)="onLogout()" class="btn logout mb-2">Sair da conta</button> 

   <!-- Excluir conta como um botão -->
   <button class="btn custom-btn mb-2 link-delete" (click)="onDeleteAccount()">Excluir conta</button>
</main>