<main>
    <body>
        <div class="container">
            <div class="coluna">
                <p>Nome</p>
                <p>Email</p>
                <p>Rua</p>
                <p>Cidade</p>
                <p>CEP</p>
            </div>
            <div class="coluna">
                <p>CPF</p>
                <p>Telefone</p>
                <p>Número</p>
                <p>Estado</p>
                <p><span>Alterar informações</span></p>
            </div>
        </div>
        <div class="voltar">
            <p><span>Voltar para o perfil</span></p>
        </div>
    </body>
</main>