.custom-btn{
    background-color: #003366;
    color: white;
}

body{
    font-family: 'Poppins', sans-serif;
}

.row{
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li{
    font-size: 14px;
}
h1{
    color: #003366;
    padding-bottom: 20px;
}

div{
    padding-bottom: 5px;
}