.custom-btn{
    background-color: #003366;
    color: white;
}

body{
    font-family: 'Poppins', sans-serif;
}

.row{
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li{
    font-size: 14px;
}
h1{
    color: #003366;
    padding-bottom: 20px;
}

div{
    padding-bottom: 5px;
}

.use-address-button {
    padding: 10px;
    background-color: #1e4bcc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    top: 200px;
    max-width: 260px
  }
  
  .use-address-button:hover {
    background-color: #1646a0;
  }

  .voltar {
    text-align: center;
    position: relative;
    top: 100px;
}
